<template>
    <div class="w100 displayCenterFlex">
        <button @click="showModal = true" class="btn btnMain m-t-15">
            <span class="icon-user-circle-o m-r-5"></span> Приєднатися
        </button>
        <modal
            :value="showModal"
            :header="'Стань найкращим співавтором'"
            :id="'register'"
            :classes="'max600 backgroundAliceblue modal-padding modal-content'"
            @closed="showModal = false"
        >
            <template v-slot:body>
                <div class="col-md-6 m-t-15">
                    <input-label :value="'Ім’я'" class="required"/>
                    <text-field v-model="user.name"/>
                </div>
                <div class="col-md-6 m-t-15">
                    <input-label :value="'Прізвище'" class="required"/>
                    <text-field v-model="user.surname"/>
                </div>
                <div class="col-md-6 m-t-15">
                    <input-label :value="'По батькові'" class="required"/>
                    <text-field v-model="user.patronymic"/>
                </div>
                <div class="col-md-6 m-t-15">
                    <input-label :value="'Email'" class="required"/>
                    <text-field v-model="user.email" type="email"/>
                </div>
                <div class="col-md-6 m-t-15">
                    <input-label :value="'Телефон'" class="required"/>
                    <phone-field v-model="user.phone"/>
                </div>
                <div class="col-md-6 m-t-15">
                    <input-label :value="'Дата народження'"/>
                    <text-field v-model="user.birthday" type="date"/>
                </div>
                <div class="col-md-12 m-t-15">
                    <input-label :value="'Стать'"/>
                    <select-field :placeholder="'Оберіть стать'" v-model="user.gender" :options="genders"/>
                </div>
            </template>
            <template v-slot:footer>
                <button class="btn btnMainLight m-t-25" @click="send()">
                    <span class="icon-send-o m-r-10"></span> Відправити
                </button>
            </template>
        </modal>
    </div>
</template>

<script>

import message from "../../../Mixins/message";
import TextField from "@/Jetstream/TextInput";
import PhoneField from "@/Jetstream/PhoneField";
import InputLabel from "@/Jetstream/InputLabel";
import SelectField from "@/Jetstream/SelectField";
import Modal from "@/Components/Web/Modals/Modal";

export default {
    props: {
        show:Boolean
    },
    components: {
        TextField,
        PhoneField,
        SelectField,
        InputLabel,
        Modal,
    },
    mixins: [
        message,
    ],
    data: () => ({
        showModal: false,
        disabledBtn: false,
        user: {
            name: null,
            surname: null,
            patronymic: null,
            email: null,
            phone: null,
            gender: null,
            birthday: null,
        },
        genders: [
            'Жіночіча',
            'Чоловіча',
        ],
    }),
    methods: {
        send() {
            this.LoaderIndicator(true);
            axios.post('/api/v1/auth/register',  this.user)
                .then(response => {
                    this.LoaderIndicator(false);
                    this.showMessage(response.data.message);
                    this.showModal = false;
                }).catch(error => {
                    this.LoaderIndicator(false);
                    this.showErrors(error)
                }
            );
        }
    },
    created() {
        this.showModal = this.show;
    }
};
</script>
