<template>
    <div class="modal">
        <vue-final-modal
            :teleport-to="options.teleportTo"
            :display-directive="options.displayDirective"
            :hide-overlay="options.hideOverlay"
            :overlay-transition="options.overlayTransition"
            :content-transition="options.contentTransition"
            :click-to-close="options.clickToClose"
            :esc-to-close="options.escToClose"
            :background="options.background"
            :lock-scroll="options.lockScroll"
            :reserve-scroll-bar-gap="options.reserveScrollBarGap"
            :swipe-to-close="options.swipeToClose"
            v-model="showModal"
            @closed="$emit('closed')"
            @opened="$emit('opened')"
            class="modal-container"
            :content-class="classes"
        >
            <div class="row" v-if="header">
                <div class="col-md-12">
                    <h2 class="modal-header">{{ header }}</h2>
                </div>
            </div>
            <div class="row" :id="id">
                <slot name="body"></slot>
            </div>
            <div class="row">
                <div class="col-md-12 p-b-20 blockBtn">
                    <slot name="footer"></slot>
                </div>
            </div>
            <button class="modal-close" @click="showModal = false">
                <span class="icon-close2 colMain"></span>
            </button>
        </vue-final-modal>
    </div>
</template>

<script>
import modal from "../../../Mixins/modal";

export default {
    props: {
        value: Boolean,
        classes: String,
        header: String,
        id: String,
    },
    mixins: [
        modal,
    ],
    data: () => ({
        showModal: false,
    }),
    watch: {
        value: function (value) {
            this.showModal = this.value;
        }
    },
    created() {
        this.showModal = this.value;
    }
};
</script>
