<template>
    <div class="modal" style="position: absolute;">
        <svg @click="showModal = true" viewBox="0 0 158 148" fill="none" id="playVideo">
            <rect width="158" height="148" rx="36" fill="#E03961"/>
            <path d="M105 74L66 95.6506L66 52.3494L105 74Z" fill="#FAFAFA"/>
        </svg>
        <modal
            :value="showModal"
            :classes="'modal-padding modal-content blueBg container'"
            @opened="srcVideo = src"
            @closed="srcVideo = '';showModal = false"
        >
            <template v-slot:body>
                <div class="col-md-12">
                    <iframe width="100%" height="550"
                            :src="srcVideo"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen
                    ></iframe>
                </div>
            </template>
        </modal>
    </div>
</template>

<script>

import message from "../../../Mixins/message";
import Modal from "@/Components/Web/Modals/Modal";


export default {
    props: {
        url: String
    },
    components: {
        Modal,
    },
    mixins: [
        message
    ],
    data: () => ({
        showModal: false,
        disabledBtn: false,
        src: '',
        srcVideo: '',
    }),
    created() {
        this.src = this.url;
        this.srcVideo = this.url;
    }
};
</script>
