<template>
    <div class="form-group" :class="{'required': field.required,'error': err }">
        <label>{{ field.label }}</label>
        <vue-editor @text-change="handleInput" v-model="content"></vue-editor>
        <div v-if="err" class="error">{{ error }}</div>
    </div>
</template>

<script>
import { VueEditor } from "vue3-editor"
export default {
    props: {
        modelValue: [String, Number],
        field: Object,
        error: String,
    },
    components: {VueEditor},
    data () {
        return {
            content: '',
            err: '',
        }
    },
    watch: {
        error: function (error) {
            this.err = error && error.length > 0;
        }
    },
    methods: {
        handleInput () {
            this.err = false;
            this.$emit('update:modelValue', this.content)
        }
    },
    created() {
        this.content = this.modelValue ? this.modelValue : ''
        this.err = this.error;
    }
}
</script>
