<template>
    <div class="form-group" :key="componentKey">
        <label>{{title}}</label>
        <div class="boxImages row">
            <div class="col-md-3" v-for="image in images">
                <template v-if="imagesExt.includes(image.mime_type)">
                    <div class="boxImg" :style="'background-image: url(' + image.url + ')'">
                        <span class="icon-trash delete" @click="deleteImage(image.id)"></span>
                        <p class="info">{{ image.name.slice(0, 25) }} <br> {{ image.size_show }}</p>
                    </div>
                </template>
                <template v-if="image.mime_type === 'application/pdf'">
                    <div class="boxImg">
                        <a :href="image.url" download>
                            <img src="/images/admin/files/pdf.png"/>
                        </a>
                        <span class="icon-trash delete" @click="deleteImage(image.id)"></span>
                        <p class="info">{{ image.name.slice(0, 25) }} <br> {{ image.size_show }}</p>
                    </div>
                </template>
                <template v-if="image.mime_type === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
                    <div class="boxImg">
                        <a :href="image.url" download>
                            <img src="/images/admin/files/xls.png"/>
                        </a>
                        <span class="icon-trash delete" @click="deleteImage(image.id)"></span>
                        <p class="info">{{ image.name.slice(0, 25) }} <br> {{ image.size_show }}</p>
                    </div>
                </template>
            </div>
            <div class="col-md-3" v-if="images.length < maxFiles || maxFiles === null">
                <div class="boxImgLast" @click="openUpload">
                    <span class="icon-upload"></span>
                    <p>Завантажити</p>
                </div>
                <input type="file" :multiple="maxFiles !== 1" @change="saveImage($event)" class="displayNone" :id="id" :accept="accept"/>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        entryId: String | Number,
        modelValue: Array,
        urlUpload: String,
        urlDelete: String,
        title: String,
        accept:  {
            type: String,
            default: 'image/*',
        },
        maxFiles: {
            type: Number,
            default: null,
        },
    },
    data() {
        return {
            imageDefault: '/images/admin/default/image.jpeg',
            images: [],
            isUpload: false,
            componentKey: 0,
            id: '',
            imagesExt: [
                'image/jpeg',
                'image/png',
                'image/webp',
            ]
        }
    },
    methods: {
        openUpload() {
            document.getElementById(this.id).click();
        },
        saveImage(event) {
            if (event.target.files[0]) {
                let formData = new FormData();
                this.LoaderIndicator(true);

                for (var i = 0; i < event.target.files.length; i++) {
                    formData.append('files['+i+']', event.target.files[i]);
                }

                axios.post(this.urlUpload + this.entryId, formData)
                    .then(response => {
                        for (var i = 0; i < response.data.length; i++) {
                            this.images.push(response.data[i]);
                        }
                        this.LoaderIndicator(false);
                        this.componentKey++;
                    }).catch(error => {
                        this.LoaderIndicator(false);
                        alert('Error!');
                    }
                );
            }
        },
        deleteImage(id) {
            if (confirm("Видалити?")) {
                this.LoaderIndicator(true);
                axios.delete(this.urlDelete + id)
                    .then(response => {
                        let index = this.images.findIndex(x => x.id === id);
                        this.images.splice(index, 1);
                        this.LoaderIndicator(false);
                        this.componentKey++;
                    }).catch(error => {
                        this.LoaderIndicator(false);
                        alert('Error!');
                    }
                );
            }
        },
    },
    created() {
        if (this.modelValue){
            if (Array.isArray(this.modelValue)){
                this.images = this.modelValue;
            }else{
                this.images.push(this.modelValue);
            }
        }

        this.id = 'openFiles' + Math.random() * 100;
    }
}

</script>
