<template>
    <div class="form-group" :class="{'required': field.required,'error': err }">
        <label>{{ field.label }}</label>
        <div class="boxTable">
            <table class="w100">
                <tr v-for="(row, key) in content">
                    <td>{{row.name}}</td>
                    <td>
                        <textarea class="form-control"
                               :class="{'error': row.description.length === 0 }"
                               @input="handleInput"
                               v-model="row.description"></textarea>
                    </td>
                    <td class="borderGray" @click="deleteRow(key)">
                        <span class="m-r-5 icon-trash colRed cursorPointer p-10"></span>
                    </td>
                </tr>
            </table>
            <hr class="w100 m-t-15 m-b-15">
            <div class="w100 displayFlex">
                <button class="btn btnSuccessLight m-r-10" type="button" @click="addRow()">
                    <span class="m-r-5 icon-plus-circle"></span> додати
                </button>
                <input class="form-control w30" v-model="name" placeholder="Введіть назву">
            </div>
        </div>
    </div>
</template>

<script>

export default {
    props: {
        modelValue: Array,
        field: Object,
        error: String,
    },
    data() {
        return {
            content: [],
            err: '',
            key: '',
            name: '',
        }
    },
    watch: {
        error: function (error) {
            this.err = error && error.length > 0;
        }
    },
    methods: {
        handleInput() {
            this.err = false;
            this.$emit('update:modelValue', this.content);
        },
        addRow()
        {
            if (this.name.length > 0){
                let item = {
                    name : this.name,
                    description : '',
                }
                this.content.push(item);
                this.name = "";
            }else {
                alert('Введіть назву модуля');
            }
        },
        deleteRow(key)
        {
            if (confirm("Видалити " + key + " ?")) {
                this.content.splice(key, 1); // начиная с позиции 1, удалить 1 элемент
            }
        }
    },
    created() {
        this.content = this.modelValue ? this.modelValue : {};
        this.err = this.error;
    }
}
</script>
