<template>
    <div class="form-group" :class="{'required': field.required,'error': err }">
        <label>{{ field.label }}</label>

        <div class="radioBlock">
            <template v-for="(value, key) in field.values">
                <input type="radio" :id="'radio_' + key" :value="key" v-model="content" @change="handleInput">
                <label :for="'radio_' + key">{{value}}</label>
            </template>
        </div>

        <div v-if="err" class="error">{{ error }}</div>
    </div>
</template>

<script>
export default {
    props: {
        modelValue: [String, Number],
        field: Object,
        error: String,
    },
    data() {
        return {
            content: '',
            err: '',
        }
    },
    watch: {
        error: function (error) {
            this.err = error && error.length > 0;
        }
    },
    methods: {
        handleInput() {
            this.err = false;
            this.$emit('update:modelValue', this.content);
        }
    },
    created() {
        this.content = this.modelValue ? this.modelValue : '';
        this.err = this.error;
    }
}
</script>
