<template>
    <div class="form-group" :class="{'required': field.required,'error': err }">
        <label>{{ field.label }}</label>
        <v-select class="w100"
                  :label="reduceLabel"
                  :placeholder="field.placeholder"
                  :options="options"
                  v-model="content"
                  :reduce="item => item[reduceKey]"
                  @update:modelValue="handleInput">
        </v-select>
        <div v-if="err" class="error">{{ error }}</div>
    </div>
</template>

<script>

import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css'

export default {
    props: {
        modelValue: String|Number,
        field: Object,
        error: String,
    },
    components: {vSelect},
    data() {
        return {
            content: [],
            options: [],
            err: '',
            reduceKey: '',
            reduceLabel: '',
        }
    },
    watch: {
        error: function (error) {
            this.err = error && error.length > 0;
        }
    },
    methods: {
        handleInput () {
            this.err = false;
            this.$emit('update:modelValue', this.content)
        }
    },
    created() {
        this.reduceKey = this.field.options.reduceKey ? this.field.options.reduceKey : 'id'
        this.reduceLabel = this.field.options.reduceLabel ? this.field.options.reduceLabel : 'name'

        let subValue = this.modelValue ? this.modelValue : this.field.defaultValue ? this.field.defaultValue: '';

        this.options = Object.entries(this.field.values).map(([id, name]) => ({
            id: parseInt(id),
            name
        }));


        if (this.content){
            Object.keys(this.options).forEach(key =>{
                if (this.options[key].id.toString() === this.value){
                    this.content = this.options[key];
                }
            });
        }

        this.err = this.error;
    }
}
</script>
