<template>
    <div>
        <span class="icon-check-circle colGreen" v-if="item[column.name]"></span>
        <span class="icon-ban colRed" v-else></span>
    </div>
</template>

<script>
export default {
    props: {
        item: Object,
        column: Object,
    },
}
</script>
