<template>
    <div :style="'background:' + item[column.name] " style="width: 15px;height: 15px;border-radius: 100px;"></div>
</template>

<script>
export default {
    props: {
        item: Object,
        column: Object,
    },
}
</script>
