<template>
    <div :title="labelLong" @click="copyToClipboard()"><span :title="'Copy ' + label" class="icon-copy m-r-5"></span> {{label}}</div>
</template>

<script>
import message from "@/Mixins/message";

export default {
    props: {
        item: Object,
        column: Object,
    },
    data: () => ({
        label: '',
        labelLong: '',
    }),
    mixins: [
        message,
    ],
    methods: {
        copyToClipboard() {
            navigator.clipboard.writeText(this.label);
            this.showMessage('Copu' + ' ' + this.label);
        }
    },
    created() {
        let names = this.column.name.split('.');
        let result = this.item
        for (let i = 0; i < names.length; i++) {
            result = result[names[i]] ? result[names[i]] : ''
        }

        if (result === '' || result === null) result = '-';
        this.label = result;
        this.labelLong = result;

        if(this.label.length > this.column.length){
            this.label = this.label.slice(0, this.column.length) + '...'
        }
    }
}
</script>
