<template>
    <div>
        <img :src="src" style="width: 30px;" v-if="src"/>
        <span class="icon-picture-o" v-else></span>
    </div>
</template>

<script>
export default {
    props: {
        item: Object,
        column: Object,
    },
    data: () => ({
        src: '',
    }),
    created() {
        let path = this.column.name.split('.');
        let value = this.item;

        for (var i = 0; i < path.length; i++) {
            if (value[path[i]]){
                value = value[path[i]];
            }
        }

        this.src = typeof value === 'object' ? null : value;
    }
}
</script>
