<template>
    <div :title="labelLong">{{label}}</div>
</template>

<script>
export default {
    props: {
        item: Object,
        column: Object,
    },
    data: () => ({
        label: '',
        labelLong: '',
    }),
    created() {
        let names = this.column.name.split('.');
        let result = this.item
        for (let i = 0; i < names.length; i++) {
            if('*' === names[i]){
                let res = '';
                for (let n = 0; n < result.length; n++) {
                    res = res + " " + result[n][names[i+1]];
                }
                result = res;
                break;
            }
            result = result[names[i]] ? result[names[i]] : ''
        }

        if (result === '' || result === null) result = '-';

        this.label = result;
        this.labelLong = result;

        if(this.label.length > this.column.length){
            this.label = this.label.slice(0, this.column.length) + '...'
        }
    }
}
</script>
