<template>
    <div :title="labelLong">
        {{phone}}
    </div>
</template>

<script>

import phone from  '../../../Mixins/phone'

export default {
    props: {
        item: Object,
        column: Object,
    },
    mixins:[phone],
    data: () => ({
        phone: '',
        labelLong: '',
    }),
    created() {
        let names = this.column.name.split('.');
        let result = this.item
        for (let i = 0; i < names.length; i++) {
            result = result[names[i]] ? result[names[i]] : ''
        }

        if (result === '' || result === null) result = '-';
        this.phone = result;

        this.phone = this.formatPhone(this.phone);
    }
}
</script>
