<template>
    <div>
        <span class="icon-info2 colGrayDark" v-if="item[column.name] === 1"  title="Чорновик"></span>
        <span class="icon-check-circle colGreen" v-else-if="item[column.name] === 2"  title="Активно"></span>
        <span class="icon-truck colBlue" v-else-if="item[column.name] === 3" title="Продано"></span>
    </div>
</template>

<script>
export default {
    props: {
        item: Object,
        column: Object,
    },
    data: () => ({
        src: '',
    }),
    created() {
        let path = this.column.name.split('.');
        let value = this.item;

        for (var i = 0; i < path.length; i++) {
            if (value[path[i]]){
                value = value[path[i]];
            }
        }

        this.src = typeof value === 'object' ? null : value;
    }
}
</script>
