<template>
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="box filters">
                <div class="row">
                    <div v-for="filter in filters" :class="filter.class">
                        <component
                            v-bind:is="filter.type"
                            :filter="filter"
                            @search="search()"
                        ></component>
                    </div>
                    <div class="col-md-2">
                        <button class="btnClear" @click="clearFilters">
                            <span title="Очистити" class="icon-filter m-r-5"></span> Скинути
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Filters from "../../../Mixins/Crud/Filters";

export default {
    props: {
        options: Object,
        filters: Object,
    },
    mixins: [
        Filters
    ],
    methods: {
        search() {
            this.$emit('search')
        },
        clearFilters() {
            const refresh = window.location.protocol + "//" + window.location.host + window.location.pathname;
            window.history.pushState({path: refresh}, '', refresh);
            this.$emit('search')
        },
    },
}
</script>
