<template>
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="displaySpaceBetweenFlex box titleBlock">
                <div class="text-left">
                    <h3 class="pageTitle">{{options.operationName}} {{ options.entityNameAdd }}</h3>
                    <ol class="pageLinks">
                        <li><a :href="route('dashboard')">Головна</a></li>
                        <li><a :href="options.route">{{ options.entityNamePlural }}</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        options: Object,
    },
}
</script>
