<template>
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="box titleBlock">
                <div class="text-left">
                    <h3 class="pageTitle">{{ options.entityNamePlural }}</h3>
                    <ol class="pageLinks">
                        <li><a :href="route('dashboard')">Головна</a></li>
                        <li><a :href="options.route">{{ options.entityNamePlural }}</a></li>
                    </ol>
                </div>
                <a :href="options.route + 'create'" class="btn btnSuccess" v-if="options.allowCreate">
                    <span class="icon-plus-circle"></span> Додати {{ options.entityNameAdd }}
                </a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        options: Object,
    }
}
</script>
