<template>
    <app-layout :title="options.entityNamePlural" :key="componentKey">
        <nav-title-operation :options="options"/>
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="displaySpaceBetweenFlex box titleBlock">
                    <form @submit.prevent="submit" class="w100 row">
                        <div v-for="field in fields" :class="field.class">
                            <component
                                v-bind:is="field.type"
                                v-model="form[field.name]"
                                :field="field"
                                :error="errors[field.name]"
                            ></component>
                        </div>
                        <div class="col-md-12">
                            <div class="btnGroup">
                                <button type="submit" class="btn btnSuccess">
                                    <span class="icon-save"></span> Зберегти
                                </button>
                                <button type="submit" class="btn btnDefault" onclick="history.back()">
                                    <span class="icon-ban"></span> Відмінити
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import {defineComponent} from 'vue'
import AppLayout from '@/Layouts/AppLayout.vue'
import { useForm } from '@inertiajs/vue3';

import NavTitleOperation from '../../../Components/Crud/Nav/NavTitleOperation.vue'
import Fields from "../../../Mixins/Crud/Fields";

export default defineComponent({
    props: {
        options: Object,
        fields: Object,
        errors: Object,
        entry: Object,
        languages: Array,
    },
    components: {
        AppLayout,
        NavTitleOperation,
    },
    mixins: [
        Fields
    ],
    data: () => ({
        componentKey: 0
    }),
    setup(props) {
        let item = props.entry;
        item._method = "PUT"
        const form = useForm(item);

        function submit() {
            this.LoaderIndicator(true)
            form.post(this.options.route + "update/" + this.entry[this.options.entityKeyName], {
                preserveScroll: true,
                onSuccess: () => this.LoaderIndicator(false),
                onError: () => this.LoaderIndicator(false),
            })
        }

        return {form, submit}
    }
})
</script>
