<template>
    <tr>
        <td :colspan="columns.length + 1" style="text-align: center">{{__('admin.noInformation')}}</td>
    </tr>
</template>

<script>
export default {
    props: [
        'columns',
    ],
}
</script>
