<template>
    <div :key="componentKey" class="row">
        <div class="col-md-12 p-0 ">
        <div class="box overflowScroll p-t-15 p-b-15">
            <table class="table table-striped table-hover  responsive">
                <crud-table-headers :columns="columns" @search="search"/>
                <tbody>
                <tr v-for="item in items.data">
                    <template v-for="col in columns">
                        <td class="firstLetter">
                            <component
                                v-bind:is="col.type"
                                :item="item"
                                :column="col"
                            ></component>
                        </td>
                    </template>
                    <td class="displayFlex">
                        <template v-for="button in buttons">
                            <component
                                v-bind:is="button.type"
                                :button="button"
                                :item="item"
                                :entityKeyName="options.entityKeyName"
                            ></component>
                        </template>


                        <a :href="options.route + item[options.entityKeyName]" class="btnIcon colGreen" title="Перегляд"
                           v-if="options.allowShow">
                            <span class="icon-info-circle"></span>
                        </a>
                        <a :href="options.route + item[options.entityKeyName] + '/edit'" class="btnIcon colGrey" title="Редагувати"
                           v-if="options.allowUpdate">
                            <span class="icon-edit"></span>
                        </a>
                        <button class="btnIcon colRed" v-if="options.allowDelete" @click="deleteItem(item[options.entityKeyName])">
                            <span class="icon-trash"></span>
                        </button>
                    </td>
                </tr>
                <tr v-if="items.data && items.data.length === 0">
                    <td :colspan="Object.keys(columns).length + 1" style="text-align: center">Інформація відсутня</td>
                </tr>
                </tbody>
                <crud-table-footers :columns="columns"/>
            </table>

            <div class="p-t-15 p-l-15" v-if="items.data">
                <bootstrap4-pagination :data="items" :limit="1" @pagination-change-page="search">
                    <span slot="prev-nav" class="icon-chevron-left"></span>
                    <span slot="next-nav" class="icon-chevron-right"></span>
                </bootstrap4-pagination>
            </div>
        </div>
    </div>
    </div>
</template>

<script>

import CrudTableHeaders from './CrudTableHeaders.vue'
import CrudTableFooters from './CrudTableFooters.vue'
import {Bootstrap4Pagination} from 'laravel-vue-pagination';

import Columns from '../../../Mixins/Crud/Columns';
import Buttons from '../../../Mixins/Crud/Buttons'
import UrlFunctions from "../../../Mixins/Crud/UrlFunctions";


export default {
    props: {
        options: Object,
        columns: Object,
        buttons: Object,
        items: Object,
    },
    watch: {
        items: function (item) {
            this.componentKey++;
        }
    },
    components: {CrudTableHeaders, CrudTableFooters, Bootstrap4Pagination},
    mixins: [
        Columns,
        Buttons,
        UrlFunctions
    ],
    data: () => ({
        componentKey: 0,
    }),
    methods: {
        search(page = 1) {
            page != 1 ? this.insertParam('page', page) : this.deleteParam('page');
            this.$emit('search')
        },
        deleteItem(id) {
            if (confirm("Видалити #" + id + " ?")) {
                this.LoaderIndicator(true)
                axios.delete(this.options.route + "delete/" + id)
                    .then(response => {
                        this.LoaderIndicator(false);
                        this.$emit('search')
                    }).catch(error => {
                        this.LoaderIndicator(false);
                    }
                );
            }
        },
    }
}
</script>
