<template>
    <div class="w100">
        <v-select :placeholder="filter.placeholder"
                  :options="Object.values(filter.values)"
                  v-model="value"
                  @update:modelValue="handleInput($event)"
        >
        </v-select>
    </div>
</template>

<script>

import UrlFunctions from '../../../Mixins/Crud/UrlFunctions'
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css'

export default {
    props: {
        filter: Object,
    },
    components: {vSelect},
    mixins: [UrlFunctions],
    data () {
        return {
            value: '',
        }
    },
    methods: {
        handleInput(value) {
            let page = 1
            this.value ? this.insertParam(this.filter.name, this.value) : this.deleteParam(this.filter.name);
            this.$emit('search', page)
        },
    },
    created() {
        this.value = this.getParam(this.filter.name)
    }
}
</script>
