<template>
    <div class="w100">
        <v-select :placeholder="filter.placeholder"
                  :options="options"
                  v-model="value"
                  label="name"
                  :reduce="item => item.id"
                  @update:modelValue="handleInput($event)"
        >
        </v-select>
    </div>
</template>

<script>

import UrlFunctions from '../../../Mixins/Crud/UrlFunctions'
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css'

export default {
    props: {
        filter: Object,
    },
    components: {vSelect},
    mixins: [UrlFunctions],
    data () {
        return {
            value: '',
            options: [],
        }
    },
    methods: {
        handleInput(value) {
            console.log(value)
            let page = 1
            this.value ? this.insertParam(this.filter.name, this.value) : this.deleteParam(this.filter.name);
            this.$emit('search', page)
        },
    },
    created() {
        this.options = Object.entries(this.filter.values).map(([id, name]) => ({
            id: parseInt(id),
            name
        }));

        this.value = this.getParam(this.filter.name);
        if (this.value){
            Object.keys(this.options).forEach(key =>{
                if (this.options[key].id.toString() === this.value){
                    this.value = this.options[key];
                }
            });
        }
    }
}
</script>
