<template>
    <div class="w100">
        <v-select :placeholder="filter.placeholder"
                  :options="Object.values(filter.values)"
                  label="name"
                  v-model="value"
                  :reduce="item => item[filter.keyReduce]"
                  @update:modelValue="handleInput($event)"
        >
        </v-select>
    </div>
</template>

<script>

import vSelect from 'vue-select'
import UrlFunctions from '../../../Mixins/Crud/UrlFunctions'
import 'vue-select/dist/vue-select.css'

export default {
    props: {
        filter: Object,
    },
    components: {vSelect},
    mixins: [UrlFunctions],
    data () {
        return {
            value: '',
        }
    },
    methods: {
        handleInput(value) {
            let page = 1
            this.value ? this.insertParam(this.filter.name, this.value) : this.deleteParam(this.filter.name);
            this.$emit('search', page)
        },
    },
    created() {
        this.value = this.getParam(this.filter.name)
        if (this.value){
            Object.keys(this.filter.values).forEach(key =>{
                if (this.filter.values[key][this.filter.keyReduce].toString() === this.value){
                    this.value = this.filter.values[key];
                    this.handleInput();
                }
            });
        }
    }
}
</script>
