<template>
    <button class="btnIcon colGrey" @click="$emit('click')">
        <span class="icon-edit"></span>
    </button>
</template>

<script>
export default {
    name: "EditButton"
}
</script>
