<template>
    <a :href="button.link + '/' + item[entityKeyName]" :class="'btnIcon ' +  button.linkClass" :title="button.label">
        <span :class="button.iconClass"></span>
    </a>
</template>

<script>
export default {
    props: {
        button: Object,
        item: Object,
        entityKeyName: String,
    },
}
</script>
